<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/dist/css/main.css" rel="stylesheet" />
		<title>
			{{ block "title" . }}
			{{ .Site.Title }}
			{{ end }}
		</title>
	</head>
	<body>
		
		{{ $bg := "" }}
		{{ if (isset .Params "cover") }}
		{{ $bg = .Params.cover }}
		{{ else if (isset .CurrentSection.Params "cover") }}
		{{ $bg = .CurrentSection.Params.cover }}
		{{ else }}
		{{ $bg = "the-stars-1.jpg" }}
		{{ end }}
		<header class="container-fluid pt-4 bg-dark" style="background: url(/images/{{ $bg }}) center; background-size: cover; height: 600px;">
			{{ partial "nav-main.html" . }}
			{{ block "header" . }}
			
			{{ end }}
		</header>
		
		<main>
			<div class="py-3" style="margin-top: -120px;">
			{{ block "main" . }}
			
			{{ end }}
			</div>
		</main>
		{{ block "footer" . }}
		{{ partial "footer.html" . }}
		{{ end }}
		<script src="/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
