<nav class="container navbar navbar-expand-lg rounded navbar-light bg-transluzent">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img class="me-3" src="/images/desider-dark.svg" alt="" width="30" height="38">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-4 mb-lg-0">
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<li class="nav-item px-2  ">
					<a class="nav-link {{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }} " href="{{ .URL }}">
						{{ .Name }}
					</a>
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</nav>
