<div class="col">
	<a class="over" href='{{ .Permalink }}'>
		<div class="card border" style="background-image: url({{ .Permalink }}cover.png);">
			<div class="card-body" style="height: 200px;">
			</div>
			<div class="card-footer bg-light text-dark border-0">
				<div class="row h-100">
					<div class="col card-title align-self-center">{{ .Title }}</div>
					<div class="col-auto"><img src="/images/{{ .Params.camp }}-dark.svg" width="28px" alt="..."></div>
				</div>
			</div>
		</div>
	</a>
</div>
